@{
    // Package:	Odyssey of the Mind Web Site
    // Module:	Judges Registration
    // File:	Page02.cshtml
    // Author:	Robert Bernstein
    // Version:	3.0
    // Created:	before 08/04/2007
    // Updated:	09/29/2007: Replaced PHP database query code with MDB2
    //			11/29/2009: Rebuilt in ASP.NET 3.5
    //			01/10/2010: v2.0 Built in ASP.NET MVC 1.0 (based on ASP.NET 3.5 code from last year)
    //          10/31/2013: v3.0 Rebuilt in ASP.NET MVC 4
}

@model OdysseyCoreMvc.ViewData.JudgesRegistration.Page02ViewData

@{
    ViewBag.Title = Model.FriendlyRegistrationName + " Page 2 of 3";
}

<script type="text/javascript">
    $(function () {
        // Set the focus to the default control and select its text.
        $("#FirstName").focus().select();

        $("#EveningPhone").inputmask("(999) 999-9999");
        $("#DaytimePhone").inputmask("(999) 999-9999");
        $("#MobilePhone").inputmask("(999) 999-9999");

        // Initialize the dialog box, but don't open it.
        $('#privacyPolicyDialog').dialog({
            autoOpen: false
        });

        $('#tshirtDialog').dialog({
            autoOpen: false,
            width: '30%'
        });

        $('#ceuCreditDialog').dialog({
            autoOpen: false,
            width: '30%'
        });

        // Initially hide the fields allowing a judge to specify conflicts of interest.
        $("#hasChildrenCompetingDiv").hide();

        // Display or hide the fields allowing a judge to specify conflicts of interest.
        // See http://stackoverflow.com/questions/2777139/how-to-use-jquery-to-show-hide-divs-based-on-radio-button-selection
        $("input[name$='HasChildrenCompeting']").click(function () {
            var hasChildrenCompeting = $(this).val();
            if (hasChildrenCompeting == "Yes") {
                $("#hasChildrenCompetingDiv").show();
            } else {
                $("#hasChildrenCompetingDiv").hide();
            }
        });

        // Open the dialog box when the user clicks the hyperlink.
        $("#contactLink").click(function () {
            $('#privacyPolicyDialog').dialog('open');
        });

        $("#tshirtLink").click(function () {
            $('#tshirtDialog').dialog('open');
        });

        $("#ceuCreditLink").click(function () {
            $('#ceuCreditDialog').dialog('open');
        });
    });

    function FormValidator() {
        // Verify that the user wants to make no selection for the "First Problem Choice" form field.
        var form = $("#mainForm");
        //form.validate();

        if (form.valid()) {
            var result;
            if ($("#ProblemChoice1").val() == "0") {
                result = confirm("Click OK to continue without selecting a specific problem for your \"First Problem Choice\".");

                // result = true if "OK" is clicked, result = false if "Cancel" is clicked.
                if (result == false) {
                    $("#ProblemChoice1").focus();
                    return result;
                }
            }
        }

        return true;
    }
</script>

<div id="privacyPolicyDialog" title="Privacy Policy">
    All data you provide us is kept strictly confidential. We do not give or sell your
    information to any other organization, public or private. We will contact you solely
    for the purpose of running an Odyssey of the Mind tournament.
</div>

<div id="tshirtDialog" title="Why do we want your t-shirt size?">
    One of the many benefits of being a judge for Odyssey of the Mind is the limited
    edition, highly collectable, official's t-shirt you receive absolutely for free!
</div>

<div id="ceuCreditDialog" title="How many Continuing Education Units (CEUs) do I get?">
    We get many questions about what CEUs actually are. They are typically intended
    to assist school teachers and other professional educators to maintain their educational certifications.<br />
    <br />
    We&rsquo;ll write you a letter recommending that you receive 15 hours of CEU credit
    for judging. The final determination, however, is with your Principal.
    The letters will be available from your Problem Captain when you&rsquo;ve finished
    judging on the day of the tournament.
</div>

<h1>
    @ViewBag.Title
</h1>
<p>
    Thank you for volunteering to judge for @Model.RegionName Odyssey of the Mind. &nbsp;We can't run
    a tournament without people like you! &nbsp; Please provide us with the following
    information in order to complete your registration.
</p>
<p>
    <b>Note</b>: We will use whatever first and last name you provide here to print the name tag that you will wear
    on tournament day. &nbsp;Please make sure that it is the name by which you wish to be identified for the entire day.
</p>
<hr />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm", onsubmit = "return FormValidator();" }))
{
    @Html.ValidationSummary(true)
    <div style="text-align: left; font-weight: bold">
        Please provide the following <a id="contactLink" href="javascript:void(0)">contact information</a>:
    </div>
    <div class="required" style="text-align: right; font-weight: bold">
        <span style="text-decoration: underline">Note:</span> Fields marked with
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" /> are required.
    </div>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, null, new { width = "25", maxlength = "50", style = "width:200px" })
        @Html.ValidationMessageFor(x => x.FirstName)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, null, new { width = "25", maxlength = "100", style = "width:200px" })
        @Html.ValidationMessageFor(x => x.LastName)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.Address)
        @Html.TextBoxFor(x => x.Address, null, new { width = "35", maxlength = "35", style = "width:300px" })
        @Html.ValidationMessageFor(x => x.Address)
    </p>
    <p>
        @Html.LabelFor(x => x.AddressLine2)
        @Html.TextBoxFor(x => x.AddressLine2, null, new { width = "35", maxlength = "35", style = "width:300px" })
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City, null, new { width = "35", maxlength = "35", style = "width:300px" })
        @Html.ValidationMessageFor(x => x.City)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.State)
        @Html.TextBoxFor(x => x.State, "VA", new { width = "10", maxlength = "10", style = "width:60px" })
        @Html.ValidationMessageFor(x => x.State)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.ZipCode)
        @Html.TextBoxFor(x => x.ZipCode, null, new { width = "5", maxlength = "5", style = "width:60px" })
        @Html.ValidationMessageFor(x => x.ZipCode)
        (5 digits)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.EveningPhone)
        @Html.TextBoxFor(x => x.EveningPhone)
        @Html.ValidationMessageFor(x => x.EveningPhone)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.DaytimePhone)
        @Html.TextBoxFor(x => x.DaytimePhone)
        @Html.ValidationMessageFor(x => x.DaytimePhone)
    </p>
    <hr />
    <p>
        NOTE: If you do not have a mobile phone, please re-enter your day-time phone number. &nbsp;Your phone numbers
        will not be shared with anyone outside our region.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.MobilePhone)
        @Html.TextBoxFor(x => x.MobilePhone)
        @Html.ValidationMessageFor(x => x.MobilePhone)
    </p>
    <hr />
    <p>
        NOTE: We do not use your e-mail address for anything except keeping you informed
        about the tournament. &nbsp;It will not be shared with anyone outside of Virginia
        Odyssey of the Mind.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress, null, new { width = "50", maxlength = "50", style = "width:300px" })
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.EmailConfirmation)
        @Html.TextBoxFor(x => x.EmailConfirmation, null, new { width = "50", maxlength = "50", style = "width:300px" })
        @Html.ValidationMessageFor(x => x.EmailConfirmation)
    </p>
    <hr />
    <p>
        <b>
            Please enter your First, Second, and Third choices for the problem you'd like to
            judge.
        </b>
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice1)
        @Html.DropDownListFor(x => x.ProblemChoice1, Model.ProblemChoices)
        &nbsp; <a href="@Model.Config["LinkToSynopses"]" target="_blank">
            Click here for
            a description of the problems
        </a>
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice2)
        @Html.DropDownListFor(x => x.ProblemChoice2, Model.ProblemChoices)
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice3)
        @Html.DropDownListFor(x => x.ProblemChoice3, Model.ProblemChoices)
    </p>
    <hr />
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        Do you have any children competing in Odyssey of the Mind?
        @Html.RadioButtonFor(x => x.HasChildrenCompeting, "Yes") Yes
        @Html.RadioButtonFor(x => x.HasChildrenCompeting, "No") No
        @Html.ValidationMessageFor(x => x.HasChildrenCompeting)
    </p>
    <div id="hasChildrenCompetingDiv">
        <p>
            Please select the problem(s) in which your children are competing, below.
        </p>
        <p>
            @Html.LabelFor(x => x.ProblemConflict1)
            @Html.DropDownListFor(x => x.ProblemConflict1, Model.ProblemConflictList1)
        </p>
        <p>
            @Html.LabelFor(x => x.ProblemConflict2)
            @Html.DropDownListFor(x => x.ProblemConflict2, Model.ProblemConflictList2)
        </p>
        <p>
            @Html.LabelFor(x => x.ProblemConflict3)
            @Html.DropDownListFor(x => x.ProblemConflict3, Model.ProblemConflictList3)
        </p>
        <p>
            <b>Note:</b> Please do not select any of these problems to judge in the drop-down lists, below;
            we cannot assign you to any of them since your child will be competing in those problems.
        </p>
    </div>
    <hr />
    <p>
        <b>
            Please enter your First, Second, and Third choices for the problem you'd like to
            judge.
        </b>
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice1)
        @Html.DropDownListFor(x => x.ProblemChoice1, Model.ProblemChoices)
        &nbsp; <a href="@Model.Config["LinkToSynopses"]" target="_blank">
            Click here for
            a description of the problems
        </a>
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice2)
        @Html.DropDownListFor(x => x.ProblemChoice2, Model.ProblemChoices)
    </p>
    <p>
        @Html.LabelFor(x => x.ProblemChoice3)
        @Html.DropDownListFor(x => x.ProblemChoice3, Model.ProblemChoices)
    </p>
    <hr />
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        How many years of judging experience do you have as an Odyssey of the Mind <span style="">Long-Term</span> judge?
        @Html.TextBoxFor(x => x.YearsOfLongTermJudgingExperience, new { width = "5", maxlength = "5", style = "width:200px" })
        @Html.ValidationMessageFor(x => x.YearsOfLongTermJudgingExperience)
    </p>
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        How many years of judging experience do you have as an Odyssey of the Mind <span style="">Spontaneous</span> judge?
        @Html.TextBoxFor(x => x.YearsOfSpontaneousJudgingExperience, new { width = "5", maxlength = "5", style = "width:200px" })
        @Html.ValidationMessageFor(x => x.YearsOfSpontaneousJudgingExperience)
    </p>
    <p>
        &nbsp;If you are a returning judge, please indicate which long-term judging positions
        you've held in the past (if any):<br />
        <br />
        <span class="indented">
            @Html.CheckBoxFor(x => x.PreviouslyHeadJudge, false)
            @Html.LabelFor(x => x.PreviouslyHeadJudge)<br />
            @Html.CheckBoxFor(x => x.PreviouslyProblemJudge, false)
            @Html.LabelFor(x => x.PreviouslyProblemJudge)<br />
            @Html.CheckBoxFor(x => x.PreviouslyStyleJudge, false)
            @Html.LabelFor(x => x.PreviouslyStyleJudge)<br />
            @Html.CheckBoxFor(x => x.PreviouslyStagingJudge, false)
            @Html.LabelFor(x => x.PreviouslyStagingJudge)<br />
            @Html.CheckBoxFor(x => x.PreviouslyTimekeeper, false)
            @Html.LabelFor(x => x.PreviouslyTimekeeper)<br />
            @Html.CheckBoxFor(x => x.PreviouslyScorechecker, false)
            @Html.LabelFor(x => x.PreviouslyScorechecker)<br />
            @Html.CheckBoxFor(x => x.PreviouslyWeighInJudge, false)
            @Html.LabelFor(x => x.PreviouslyWeighInJudge)
        </span>
    </p>
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        Are you interested in serving as Scorechecker for one of the Long-Term problems? &nbsp;
        @Html.RadioButtonFor(x => x.WillingToBeScorechecker, "Yes") Yes
        @Html.RadioButtonFor(x => x.WillingToBeScorechecker, "No") No
        @Html.ValidationMessageFor(x => x.WillingToBeScorechecker)
    </p>
    <hr />
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        What is your <a id="tshirtLink" href="javascript:void(0)">t-shirt size</a>?&nbsp;
        @Html.DropDownListFor(x => x.TshirtSize, Model.TshirtSizes, "Select a Size")
        @Html.ValidationMessageFor(x => x.TshirtSize)
    </p>
    <p>Note that our t-shirts are standard unisex shirts. &nbsp;There are not separate styles for men and women.</p>
    <hr />
    <p>
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" />&nbsp;
        Would you like <a id="ceuCreditLink" href="javascript:void(0)">CEU credit</a>?&nbsp;
        @Html.RadioButtonFor(x => x.WantsCeuCredit, "Yes") Yes
        @Html.RadioButtonFor(x => x.WantsCeuCredit, "No") No
        @Html.ValidationMessageFor(x => x.WantsCeuCredit)
    </p>
    <p>Unless you are a school teacher or professional educator, the answer is typically "No."</p>
    <hr />
    <p>
        Please provide us with any other information you would like to share as part of
        your registration.&nbsp; For example, this is a good place to let us know about
        any issues related to your participation or about any concerns you may have.&nbsp;
        Please keep your comments to 500 characters or less:
    </p>
    <p>
        @Html.TextAreaFor(x => x.Notes, 6, 100, null)
        @Html.ValidationMessageFor(x => x.Notes)
    </p>
    <hr />
    <div style="text-align: right">
        <input type="submit" value="Next Page >>" id="nextButton" name="nextButton" />
    </div>
    <div style="text-align: left">
        <a href="@Model.Config["HomePage"]">Return to the Home Page</a>
    </div>
}
