@{
    // Package:	Odyssey of the Mind Web Site
    // Module:	Coaches Training Registration
    // File:	Page01.cshtml
    // Author:	Robert Bernstein
    // Version:	3.0
    // Created:	10/24/2010: v2.0 Built in ASP.NET MVC 1.0 (based on ASP.NET 3.5 code from last year)
    // Updated:	09/18/2013: v3.0 Rebuilt in ASP.NET MVC 4
}

@model OdysseyCoreMvc.ViewData.CoachesTrainingRegistration.Page01ViewData

@{
    ViewBag.Title = Model.FriendlyRegistrationName + " Page 1 of 2";
}

<script type="text/javascript">
    // Ensure that a user clicking <Enter> in a form clicks the correct (i.e. default) Submit button
    //var ButtonKeys = { "EnterKey": 13 };
    $(function () {
        $("#MainForm").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                var defaultButtonId = $(this).attr("defaultbutton");
                $("#" + defaultButtonId).click();
                return false;
            }
            return true;
        });

        $("#homePageButton").click(function () {
            location.href = '@Model.Config["HomePage"]';
        });

        // Set the focus to the default control and select its text
        //			$("#Judge_JFirstName").focus();
    });

    function MatchDivisionToRole() {
        // If the user selects the "Coordinator" (3) or "None of the Above" (6) roles,
        // set their Division to "Not Applicable"
        if (($("#SelectedRole").value == "3") || ($("#SelectedRole").value == "6")) {
            $("#SelectedDivision").value = "6";
        }

        // If the user selects the "Division 3 Team Captain" (4) role, set their Division to "Division 3" (4)
        if ($("#SelectedRole").value == "4") {
            $("#SelectedDivision").value = "4";
        }

        // If the user selects the "I Have No Team Yet" (5) role, set their Division to "I Don't Know" (5)
        if ($("#SelectedRole").value == "5") {
            $("#SelectedDivision").value = "5";
        }
    }

    function MatchProblemToDivision() {
        // If the user selects the "Primary" (1) division, set their Problem to the Primary Problem
        if ($("#SelectedDivision").value == "1") {
            $("#SelectedProblem").value = "6";
        }

        // If the user selects any division but "Primary" (1) and the Problem is set to the Primary Problem,
        // reset the Problem field to "Select your Problem".
        if (($("#SelectedDivision").value != "1") && ($("#SelectedProblem").value == "6")) {
            $("#SelectedProblem").value = "";
        }
    }
</script>
<h1>
    @ViewBag.Title
</h1>
<h2>
    Welcome to the
    @Model.RegionName Region @Model.RegionNumber @Model.Config["Year"]-@Model.Config["EndYear"] Odyssey of the Mind
    @Model.FriendlyRegistrationName.
</h2>
<p>
    Thank you for volunteering to coach a team as they prepare for our regional tournament.
    &nbsp;The role you play is critical to making such an event happen.
</p>
<p>
    We invite all Coaches, Assistant Coaches, School Coordinators, and Division 3 Team
    captains to participate in this Coaches Training on
    @Model.CoachesTrainingInfo.StartDate.Value.ToLongDateString() at
    @Model.CoachesTrainingInfo.Location. &nbsp;Please provide the information
    requested below.
</p>
<p>
    Welcome aboard!
</p>
<p class="required">
    <span style="text-decoration: underline">Note</span>: You must bring a check made
    out to
    @Model.CoachesTrainingInfo.EventMakeChecksOutTo in the amount of $@Model.CoachesTrainingInfo.EventCost to Coaches Training.
    @Model.CoordinatorsDoNotPayCoachesTrainingRegistrationFeeMessage
</p>
<hr />
<p class="required">
    <span style="text-decoration: underline">Note:</span> Fields marked with
    <img alt="Required" src="@Url.Content("~/Content/images/bullet.gif")" width="15" />
    are required.
</p>
<ul>
    <li>
        <strong>Coaches Training</strong>
    <li>
        <strong>Location:</strong>
        @if (!string.IsNullOrWhiteSpace(Model.CoachesTrainingInfo.LocationURL))
        {
            <a href="@Model.CoachesTrainingInfo.LocationURL" target="_blank">@Model.CoachesTrainingInfo.Location</a>
        }
        else
        {
            @Model.CoachesTrainingInfo.Location
        }
    </li>
    <li>
        <strong>Date: </strong>
        @Model.CoachesTrainingDate
    </li>
    <li>
        <strong>Time: </strong>
        @Model.CoachesTrainingTime
    </li>
    <li>
        <strong>Cost: </strong>

        @if (!string.IsNullOrWhiteSpace(Model.CoachesTrainingInfo.EventCost))
        {
            <span>$@Model.CoachesTrainingInfo.EventCost</span>

            if (Model.Config.ContainsKey("CoordinatorsDoNotPayCoachesTrainingRegistrationFee"))
            {
                if (Model.Config["CoordinatorsDoNotPayCoachesTrainingRegistrationFee"].ToLower() == "true")
                {
                    <ul><li>Note that School Coordinators do not pay this fee.</li></ul>
                }
            }
            <ul>
                <li>
                    <b>Make Check Payable To: </b>
                    @Model.CoachesTrainingInfo.EventMakeChecksOutTo
                </li>
            </ul>
        }
        else
        {
            <span>TBA</span>
        }
    </li>
</ul>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post, new { defaultbutton = "nextButton", id = "MainForm" }))
{
    @Html.ValidationSummary(true)
    <p>
        Please enter your first and last name:
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, null, new { width = "25", maxlength = "50", style = "width:200px" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, null, new { width = "25", maxlength = "100", style = "width:200px" })
        @Html.ValidationMessageFor(m => m.LastName)
    </p>
    <hr />
    <p>
        Please enter the name of your school, writing out the full school name and appending
        ES for Elementary School, MS for Middle School, HS for High School, etc. for the
        level of school. &nbsp;If you are part of an organization not affiliated with a
        school or are a home school group, please write out the full name of your organization.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.SchoolName)
        @Html.TextBoxFor(x => x.SchoolName, null, new { width = "25", maxlength = "100", style = "width:300px" })
        @Html.ValidationMessageFor(m => m.SchoolName)
    </p>
    <hr />
    <p>
        Please enter the specific role that you will play within Odyssey of the Mind. &nbsp;For
        example, you might be a Coach or an Assistant Coach.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.SelectedRole)
        @Html.DropDownListFor(x => x.SelectedRole, Model.RoleList, "Select Your Role", new { onchange = "MatchDivisionToRole();" })
        @Html.ValidationMessageFor(m => m.SelectedRole)
    </p>
    <hr />
    <p>
        Please enter your team's division.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.SelectedDivision)
        @Html.DropDownListFor(x => x.SelectedDivision, Model.DivisionList, "Select Your Division", new { onchange = "MatchProblemToDivision();" })
        @Html.ValidationMessageFor(m => m.SelectedDivision)
    </p>
    <hr />
    <p>
        Please select the problem your team will be performing, if you know it already.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.SelectedProblem)
        @Html.DropDownListFor(x => x.SelectedProblem, Model.ProblemList, "Select Your Problem")
        @Html.ValidationMessageFor(m => m.SelectedProblem)
    </p>
    <hr />
    <p>
        Please provide an e-mail address so we can notify you if any details regarding
        @Model.FriendlyRegistrationName
        change between now and training day. &nbsp;We will not use this e-mail address for
        any other purpose.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress, null, new { width = "50", maxlength = "100", style = "width:300px" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </p>
    <hr />
    <p>
        Please confirm your e-mail address.
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.EmailConfirmation)
        @Html.TextBoxFor(x => x.EmailConfirmation, null, new { width = "50", maxlength = "100", style = "width:300px" })
        @Html.ValidationMessageFor(m => m.EmailConfirmation)
    </p>
    <hr />
    <p>
        How many years have you coached Odyssey of the Mind prior to this one?
    </p>
    <p>
        @Html.LabelFor(x => x.YearsInvolved)
        @Html.TextBoxFor(x => x.YearsInvolved, null, new { width = "20", maxlength = "10", style = "width:100px" })
        (e.g. 5, not "Five")
        @Html.ValidationMessageFor(m => m.YearsInvolved)
    </p>
    <hr />
    <p>
        Please provide the region in which your team will compete. &nbsp;This training is
        being provided by @Model.RegionName (Region @Model.RegionNumber) but is open to any Northern Virginia teams who would
        like to attend.
    </p>
    <p>
        @Html.LabelFor(x => x.SelectedRegion)
        @Html.DropDownListFor(x => x.SelectedRegion, Model.RegionList, "Select Your Region")
        @Html.ValidationMessageFor(m => m.SelectedRegion)
    </p>
    <hr />
    <p style="text-align: right">
        <button type="submit" id="nextButton" name="nextButton">Submit your Registration >></button>
    </p>
    <p style="text-align: left">
        <button type="button" id="homePageButton" name="homePageButton">Return to the Home Page</button>
    </p>
}
