@*
    Layout templates allow the HTML container layout to be:
        - Specified in one place.
        - Applied in multiple pages in the site.
    https://docs.microsoft.com/en-us/aspnet/core/mvc/views/layout?view=aspnetcore-6.0
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*
    The Title property is set by each of the pages that will have their content embedded in the _Layout file.
    *@
    <title>@ViewData["Title"] - Odyssey Registration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OdysseyRegistration.styles.css" asp-append-version="true" />

    @* Determine which CSS to use based on the current URL. *@
    <link rel="stylesheet" href="~/css/@Model.SiteCssFile" asp-append-version="true" />
</head>

<div class="page">
    <div id="header">
        <div id="title">
            <h1>
                @Model.SiteName: @Model.Config["RegionName"] Odyssey of the Mind
            </h1>
        </div>
        <div id="logindisplay">
            @*@Html.RenderPartial("LogOnUserControl");*@
        </div>
        <br />
        <div id="menucontainer">
            <ul id="menu">
                <li><a href="@Model.Config["HomePage"]">Home</a></li>
                @*<li>@Html.ActionLink("Administration", "Index", "Administration")</li>*@
            </ul>
        </div>
    </div>
    <div id="main">
        @*
        RenderBody is a placeholder where all the page-specific views show up, wrapped in the layout page. For
        example, select the Privacy link and the Pages/Privacy.cshtml view is rendered inside the RenderBody
        method.
        *@
        @RenderBody()
        <div id="footer">
        </div>
    </div>
</div>
