@page

@*
    Package: Odyssey of the Mind Web Site
    Module:  Tournament Registration
    File:    Page06.cshtml
    Author:  Robert Bernstein
    Created: before 08/04/2007: v1.0: Classic ASP
    Updated: 11/04/2007: v2.0: Overhauled tournament registration; Replaced database query code with MDB2
             12/27/2009: v3.0: Rebuilt in ASP.NET 3.5
             01/01/2010: v3.1: Rebuilt in ASP.NET MVC 1.0
             11/19/2013: v4.0: Rebuilt in ASP.NET MVC 4
*@

@model Page06Model

@{
    ViewBag.Title = Model.DisplayableRegistrationName + " Page 5 of 9";
}

<script type="text/javascript">
    $(function () {
        // Set the focus to the default control and select its text
        $("#MemberFirstName1").focus().select();
    });

    function FormValidator() {
        if (($("#MemberFirstName2").val() != "") || ($("#MemberLastName2").val() != "")) {
            if (($("#MemberFirstName1").val() == "") || ($("#MemberLastName1").val() == "")) {
                alert("You must include Team Member 1 before you can include Team Member 2.  Make sure the first name field is filled in.");
                $("#MemberFirstName1").focus();
                return false;
            }

            if ($("#MemberFirstName2").val() == "") {
                alert("Please enter Team Member 2's First Name.");
                $("#MemberFirstName2").focus();
                return false;
            }

            if ($("#MemberLastName2").val() == "") {
                alert("Please enter Team Member 2's Last Name.");
                $("#MemberLastName2").focus();
                return false;
            }

            if ($("#MemberGrade2 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 2's grade.");
                $("#MemberGrade2").focus();
                return false;
            }
        }

        if (($("#MemberFirstName3").val() != "") || ($("#MemberLastName3").val() != "")) {
            if (($("#MemberFirstName2").val() == "") || ($("#MemberLastName2").val() == "")) {
                alert("You must include Team Member 2 before you can include Team Member 3.  Make sure the first name field is filled in.");
                $("#MemberFirstName2").focus();
                return false;
            }

            if ($("#MemberFirstName3").val() == "") {
                alert("Please enter Team Member 3's First Name.");
                $("#MemberFirstName3").focus();
                return false;
            }

            if ($("#MemberLastName3").val() == "") {
                alert("Please enter Team Member 3's Last Name.");
                $("#MemberLastName3").focus();
                return false;
            }

            if ($("#MemberGrade3 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 3's grade.");
                $("#MemberGrade3").focus();
                return false;
            }
        }

        if (($("#MemberFirstName4").val() != "") || ($("#MemberLastName4").val() != "")) {
            if (($("#MemberFirstName3").val() == "") || ($("#MemberLastName3").val() == "")) {
                alert("You must include Team Member 3 before you can include Team Member 4.  Make sure the first name field is filled in.");
                $("#MemberFirstName3").focus();
                return false;
            }

            if ($("#MemberFirstName4").val() == "") {
                alert("Please enter Team Member 4's First Name.");
                $("#MemberFirstName4").focus();
                return false;
            }

            if ($("#MemberLastName4").val() == "") {
                alert("Please enter Team Member 4's Last Name.");
                $("#MemberLastName4").focus();
                return false;
            }

            if ($("#MemberGrade4 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 4's grade.");
                $("#MemberGrade4").focus();
                return false;
            }
        }

        if (($("#MemberFirstName5").val() != "") || ($("#MemberLastName5").val() != "")) {
            if (($("#MemberFirstName4").val() == "") || ($("#MemberLastName4").val() == "")) {
                alert("You must include Team Member 4 before you can include Team Member 5.  Make sure the first name field is filled in.");
                $("#MemberFirstName4").focus();
                return false;
            }

            if ($("#MemberFirstName5").val() == "") {
                alert("Please enter Team Member 5's First Name.");
                $("#MemberFirstName5").focus();
                return false;
            }

            if ($("#MemberLastName5").val() == "") {
                alert("Please enter Team Member 5's Last Name.");
                $("#MemberLastName5").focus();
                return false;
            }

            if ($("#MemberGrade5 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 5's grade.");
                $("#MemberGrade5").focus();
                return false;
            }
        }

        if (($("#MemberFirstName6").val() != "") || ($("#MemberLastName6").val() != "")) {
            if (($("#MemberFirstName5").val() == "") || ($("#MemberLastName5").val() == "")) {
                alert("You must include Team Member 5 before you can include Team Member 6.  Make sure the first name field is filled in.");
                $("#MemberFirstName5").focus();
                return false;
            }

            if ($("#MemberFirstName6").val() == "") {
                alert("Please enter Team Member 6's First Name.");
                $("#MemberFirstName6").focus();
                return false;
            }

            if ($("#MemberLastName6").val() == "") {
                alert("Please enter Team Member 6's Last Name.");
                $("#MemberLastName6").focus();
                return false;
            }

            if ($("#MemberGrade6 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 6's grade.");
                $("#MemberGrade6").focus();
                return false;
            }
        }

        if (($("#MemberFirstName7").val() != "") || ($("#MemberLastName7").val() != "")) {
            if (($("#MemberFirstName6").val() == "") || ($("#MemberLastName6").val() == "")) {
                alert("You must include Team Member 6 before you can include Team Member 7.  Make sure the first name field is filled in.");
                $("#MemberFirstName6").focus();
                return false;
            }

            if ($("#MemberFirstName7").val() == "") {
                alert("Please enter Team Member 7's First Name.");
                $("#MemberFirstName7").focus();
                return false;
            }

            if ($("#MemberLastName7").val() == "") {
                alert("Please enter Team Member 7's Last Name.");
                $("#MemberLastName7").focus();
                return false;
            }

            if ($("#MemberGrade7 option:selected").text() == "Select a Grade") {
                alert("Please enter Team Member 7's grade.");
                $("#MemberGrade7").focus();
                return false;
            }
        }

        return true;
    }
</script>

<h1>
    @ViewBag.Title
</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return FormValidator();" }))
{
    @Html.ValidationSummary(true)
    <p style="text-align: left; font-weight: bold">
        Please provide the names and grades of the team members.
    </p>
    <div class="required" style="text-align: right; font-weight: bold">
        <span style="text-decoration: underline">Note:</span> Fields marked with
        <img alt="Required" src="@Url.Content("~/Content/Images/bullet.gif")" width="15" /> are required for each
        <span class="required_and_emphatic">included</span> team member.
    </div>
    <p>
        First Team Member:
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.MemberFirstName1)
        @Html.TextBoxFor(x => x.MemberFirstName1, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName1)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.MemberLastName1)
        @Html.TextBoxFor(x => x.MemberLastName1, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName1)
    </p>
    <p>
        <img src="@Url.Content("~/Content/Images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.MemberGrade1)
        @Html.DropDownListFor(x => x.MemberGrade1, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade1)
    </p>
    <hr />
    <p>
        Second Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName2)
        @Html.TextBoxFor(x => x.MemberFirstName2, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName2)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName2)
        @Html.TextBoxFor(x => x.MemberLastName2, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName2)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade2)
        @Html.DropDownListFor(x => x.MemberGrade2, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade2)
    </p>
    <hr />
    <p>
        Third Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName3)
        @Html.TextBoxFor(x => x.MemberFirstName3, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName3)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName3)
        @Html.TextBoxFor(x => x.MemberLastName3, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName3)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade3)
        @Html.DropDownListFor(x => x.MemberGrade3, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade3)
    </p>
    <hr />
    <p>
        Fourth Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName4)
        @Html.TextBoxFor(x => x.MemberFirstName4, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName4)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName4)
        @Html.TextBoxFor(x => x.MemberLastName4, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName4)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade4)
        @Html.DropDownListFor(x => x.MemberGrade4, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade4)
    </p>
    <hr />
    <p>
        Fifth Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName5)
        @Html.TextBoxFor(x => x.MemberFirstName5, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName5)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName5)
        @Html.TextBoxFor(x => x.MemberLastName5, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName5)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade5)
        @Html.DropDownListFor(x => x.MemberGrade5, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade5)
    </p>
    <hr />
    <p>
        Sixth Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName6)
        @Html.TextBoxFor(x => x.MemberFirstName6, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName6)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName6)
        @Html.TextBoxFor(x => x.MemberLastName6, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName6)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade6)
        @Html.DropDownListFor(x => x.MemberGrade6, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade6)
    </p>
    <hr />
    <p>
        Seventh Team Member:
    </p>
    <p>
        @Html.LabelFor(x => x.MemberFirstName7)
        @Html.TextBoxFor(x => x.MemberFirstName7, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberFirstName7)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberLastName7)
        @Html.TextBoxFor(x => x.MemberLastName7, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.MemberLastName7)
    </p>
    <p>
        @Html.LabelFor(x => x.MemberGrade7)
        @Html.DropDownListFor(x => x.MemberGrade7, Model.GradeChoices, "Select a Grade")
        @Html.ValidationMessageFor(x => x.MemberGrade7)
    </p>
    <hr />
    <div style="text-align: right">
        <input type="submit" value="Next Page >>" id="nextButton" name="nextButton" />
    </div>
    <div style="text-align: left">
        <a href="@Model.Config["HomePage"]">Return to the Home Page</a>
    </div>
}
