@{
    // Package:	Odyssey of the Mind Web Site
    // Module:	Tournament Registration
    // File:	Page05.cshtml
    // Author:	Robert Bernstein
    // Created:	before 08/04/2007: v1.0: Classic ASP
    // Updated:	11/04/2007: v2.0: Overhauled tournament registration; Replaced database query code with MDB2
    //			12/27/2009: v3.0: Rebuilt in ASP.NET 3.5
    //			01/01/2010: v3.1: Rebuilt in ASP.NET MVC 1.0
    //			11/19/2013: v4.0: Rebuilt in ASP.NET MVC 4
    //          12/03/2023: v5.0: Rebuilt in ASP.NET MVC 4 from dotPeek reverse engineered code and files copied from novanorth.org.
}

@model OdysseyMvc2024.ViewData.TournamentRegistration.Page05ViewData

@{
    ViewBag.Title = Model.FriendlyRegistrationName + " Page 4 of 9";
}

<script type="text/javascript">
    $(function () {
        // Initialize the dialog box, but don't open it.
        $('#coachAddressDialog').dialog({
            autoOpen: false
        });

        // Open the dialog box when the user clicks the hyperlink.
        $("#coachAddressLink").click(function () {
            $('#coachAddressDialog').dialog('open');
        });

        $("#CoachEveningPhone").inputmask("(999) 999-9999");
        $("#CoachDaytimePhone").inputmask("(999) 999-9999");
        $("#CoachMobilePhone").inputmask("(999) 999-9999");
        $("#AltCoachEveningPhone").inputmask("(999) 999-9999");
        $("#AltCoachDaytimePhone").inputmask("(999) 999-9999");
        $("#AltCoachMobilePhone").inputmask("(999) 999-9999");

        // Set the focus to the default control and select its text.
        $("#CoachFirstName").focus().select();
    });
</script>

<div id="coachAddressDialog" title="Coach's Address">
    Our region has had significant problems in the past when mailing Odyssey of the Mind materials needed by Coaches
    and Coordinators to schools. &nbsp;Therefore, we strongly recommend that Coaches provide their home addresses.
    &nbsp;We will only use this information to contact that individual. &nbsp;This information will not be shared
    outside our regional board.
</div>

<h1>
    @ViewBag.Title
</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p style="text-align: left; font-weight: bold">
        Please provide the following information about the Team's Coach.
    </p>
    <div class="required" style="text-align: right; font-weight: bold">
        <span style="text-decoration: underline">Note:</span> Fields marked with
        <img alt="Required" src="@Url.Content("~/images/bullet.gif")" width="15" /> are required.
    </div>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachFirstName)
        @Html.TextBoxFor(x => x.CoachFirstName, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.CoachFirstName)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachLastName)
        @Html.TextBoxFor(x => x.CoachLastName, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.CoachLastName)
    </p>
    <p>
    <p>Please provide your <a id="coachAddressLink" href="javascript:void(0)">home address</a>, NOT the school's address.</p>

    <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
    @Html.LabelFor(x => x.CoachAddress)
    @Html.TextBoxFor(x => x.CoachAddress, null, new { style = "width:300px" })
    @Html.ValidationMessageFor(x => x.CoachAddress)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachCity)
        @Html.TextBoxFor(x => x.CoachCity, null, new { style = "width:300px" })
        @Html.ValidationMessageFor(x => x.CoachCity)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachState)
        @Html.TextBoxFor(x => x.CoachState, "VA", new { style = "width:60px" })
        @Html.ValidationMessageFor(x => x.CoachState)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachZipCode)
        @Html.TextBoxFor(x => x.CoachZipCode, null, new { style = "width:60px" })
        @Html.ValidationMessageFor(x => x.CoachZipCode)
        (5 digits)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachEveningPhone)
        @Html.TextBoxFor(x => x.CoachEveningPhone)
        @Html.ValidationMessageFor(x => x.CoachEveningPhone)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachDaytimePhone)
        @Html.TextBoxFor(x => x.CoachDaytimePhone)
        @Html.ValidationMessageFor(x => x.CoachDaytimePhone)
    </p>
    <hr />
    <p>
        NOTE: If you do not have a mobile phone, please re-enter your day-time phone number. &nbsp;Your phone numbers
        will not be shared with anyone outside our region.
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachMobilePhone)
        @Html.TextBoxFor(x => x.CoachMobilePhone)
        @Html.ValidationMessageFor(x => x.CoachMobilePhone)
    </p>
    <hr />
    <p>
        NOTE: We do not use your e-mail address for anything except keeping you informed
        about the tournament. &nbsp;It will not be shared with anyone outside our region.
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachEmailAddress)
        @Html.TextBoxFor(x => x.CoachEmailAddress, null, new { style = "width:300px" })
        @Html.ValidationMessageFor(x => x.CoachEmailAddress)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.CoachEmailConfirmation)
        @Html.TextBoxFor(x => x.CoachEmailConfirmation, null, new { style = "width:300px" })
        @Html.ValidationMessageFor(x => x.CoachEmailConfirmation)
    </p>
    <hr />
    <p style="font-weight: bold">
        Please provide the following information about an alternate contact for the team.
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachFirstName)
        @Html.TextBoxFor(x => x.AltCoachFirstName, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.AltCoachFirstName)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachLastName)
        @Html.TextBoxFor(x => x.AltCoachLastName, null, new { style = "width:200px" })
        @Html.ValidationMessageFor(x => x.AltCoachLastName)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachEveningPhone)
        @Html.TextBoxFor(x => x.AltCoachEveningPhone)
        @Html.ValidationMessageFor(x => x.AltCoachEveningPhone)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachDaytimePhone)
        @Html.TextBoxFor(x => x.AltCoachDaytimePhone)
        @Html.ValidationMessageFor(x => x.AltCoachDaytimePhone)
    </p>
    <hr />
    <p>
        NOTE: If you do not have a mobile phone, please re-enter your day-time phone number. &nbsp;Your phone numbers
        will not be shared with anyone outside our region.
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachMobilePhone)
        @Html.TextBoxFor(x => x.AltCoachMobilePhone)
        @Html.ValidationMessageFor(x => x.AltCoachMobilePhone)
    </p>
    <hr />
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachEmailAddress)
        @Html.TextBoxFor(x => x.AltCoachEmailAddress, null, new { style = "width:300px" })
        @Html.ValidationMessageFor(x => x.AltCoachEmailAddress)
    </p>
    <p>
        <img src="@Url.Content("~/images/bullet.gif")" alt="Required" width="15" />
        @Html.LabelFor(x => x.AltCoachEmailConfirmation)
        @Html.TextBoxFor(x => x.AltCoachEmailConfirmation, null, new { style = "width:300px" })
        @Html.ValidationMessageFor(x => x.AltCoachEmailConfirmation)
    </p>
    <hr />
    <div style="text-align: right">
        <input type="submit" value="Next Page >>" id="nextButton" name="nextButton" />
    </div>
    <div style="text-align: left">
        <a href="@Model.Config["HomePage"]">Return to the Home Page</a>
    </div>
}
